<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Task Tracker</title>
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#95E8C8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="images/favicon_192x192.png">
    <link rel="stylesheet" href="styles/task-tracker.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <script src="scripts/vue@3.2.26.global.prod.js"></script>
    <script src="scripts/marked@0.3.6.js"></script>
    <script type="module" src="scripts/task-tracker.mjs"></script>
  </head>
  <body>
    
    <div class="loading" v-if="!finishedloading"></div>
   
    <topbar>
    
      <playerbar v-if="loaded">
        <player-widget :player="player" @playernameclick="showplayerdetails = true"></player-widget>
      </playerbar>

      <toolbar v-if="loaded">
        <button onclick="location.reload();">↻</button>
      </toolbar>
      
    </topbar>

    <kanban-board v-if="loaded">
      <lane v-for="category in taskcategories">
        <lane-header :style="{ 'background-color': category.color }">{{category.label}}</lane-header>
        <task v-for="task in tasksforcategory(category)" :task="task" @checkboxclick="completetask(task)" @taskclick="selectedtask = task;" @checklistitemclick="save(task)" @checklisttoggleclick="save(task)"></task>
        <add-task-button @click="addtask(category)">+</add-task-button>
      </lane>
    </kanban-board>
    
    <!-- Player -->
    <detail-dialog v-if="showplayerdetails" title="Spieler bearbeiten" @closeclick="saveplayer(); showplayerdetails = false;">
      <template #header>
        <labelled-input label="Name" :value="player.name" @input="value => player.name = value"></labelled-input>
      </template>
      <template #footer>
        <button @click="logout(); showplayerdetails = false;">Abmelden</button>
      </template>
    </detail-dialog>

    <!-- Task -->
    <detail-dialog v-if="selectedtask" title="To-Do bearbeiten" @closeclick="save(selectedtask); selectedtask = undefined;">
      <template #header>
        <labelled-input label="Titel" placeholder="Überschrift hinzufügen" :value="selectedtask.t" @input="value => selectedtask.t = value"></labelled-input>
        <labelled-input label="Notizen" rows="2" placeholder="Notizen hinzufügen" :value="selectedtask.n" @input="value => selectedtask.n = value"></labelled-input>
      </template>
      <template #content>
        <label>Checkliste</label>
        <checklist>
          <template v-for="checklistitem in selectedtask.c">
            <input type="text" v-model="checklistitem.t" @change="checkchecklistitemcontent(checklistitem)" />
          </template>
          <input type="text" ref="newchecklistitem" placeholder="+ Neues Checklistenelement" @focus="addchecklistitem" />
        </checklist>
        <labelled-select label="Kategorie" :options="taskcategories" :cls="selectedtask.category || 'gelb'" :value="selectedtask.category || 'gelb'" @input="value => selectedtask.category = value"></labelled-select>
      </template>
      <template #footer>
        <button class="delete" @click="deleteselectedtask">Diese To-Do löschen</button>
      </template>
    </detail-dialog>
    
  </body>
  
</html>