* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.loading { animation:loadingspin 1s linear infinite; background: no-repeat center center black; background-image: url(/images/preloader_ring.png); height: 4000px; left: calc(50% - 2000px); position: fixed; top: calc(50% - 2000px); width: 4000px; z-index: 9999; }

a { color: #2995cd; text-decoration: none; }

checklist {
    display: block;
    margin-bottom: 16px;
}

checklist > input {
    border: solid #e1e0e3;
    border-radius: 0;
    box-shadow: none;
    border-width: 1px 0 0 0;
    display: block;
    font-size: 14px;
    line-height: 24px;
    padding: 4px 12px;
    width: 100%;
}

checklist > input:focus {
    outline: none;
}

checklist > input:last-child {
    border-bottom-width: 1px;
}

detail-dialog {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 14px 28px 0 rgb(26 24 29 / 24%), 0 10px 10px 0 rgb(26 24 29 / 28%);
    display: flex;
    flex-direction: column;
    left: 0;
    margin: 32px auto;
    max-height: calc(100% - 64px);
    max-width: 400px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

detail-dialog::before {
    background-color: rgba(67, 40, 116, .85);
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

detail-dialog checklist input {
    display: block;
}

dialog-content {
    background-color: #ffffff;
    display: block;
    flex: 1;
    overflow: auto;
    padding: 24px;
}

dialog-content label {
    color: #4e4a57;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 4px;
}

dialog-footer {
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
    display: block;
    padding: 12px 24px;
    text-align: center;
}

dialog-footer > button {
    background: #4f2a93;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgb(26 24 29 / 12%), 0 1px 2px 0 rgb(26 24 29 / 24%);
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: auto 0 auto 6px;
    padding: 4px 12px;
}

dialog-footer > button.delete {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: #c92b2b;
    font-weight: normal;
}

dialog-footer > button.delete:hover {
    text-decoration: underline;
}

dialog-footer > button.delete::before {
    content: "🗑";
    font-size: 24px;
    font-weight: bold;
    margin-right: 4px;
    vertical-align: top;
}

dialog-header {
    background-color: #6133b4;
    border-radius: 8px 8px 0 0;
    color: #ffffff;
    display: block;
    padding: 24px 24px 8px 24px;
}

labelled-input > input, labelled-input > textarea {
    background-color: hsla(0,0%,100%,.5);
    border: none;
    border-radius: 2px;
    color: #1a181d;
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
    padding: 4px 12px;
    width: 100%;
}

labelled-input > input:focus, labelled-input > textarea:focus {
    background-color: hsla(0,0%,100%,.75);
    box-shadow: 0 0 0 1px #1a181d;
    outline: none;
}

labelled-input > input:hover, labelled-input > textarea:hover {
    background-color: hsla(0,0%,100%,.75);
}

labelled-input > input::placeholder, labelled-input > textarea::placeholder {
    color: #1a181d;
}

labelled-input > label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
}

labelled-select > select {
    background-color: hsla(0,0%,100%,.5);
    border: 1px solid #e1e0e3;
    border-radius: 2px;
    color: #1a181d;
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
    padding: 4px 12px;
    width: 100%;
}

dialog-toolbar {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

dialog-toolbar > button {
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgb(26 24 29 / 12%), 0 1px 2px 0 rgb(26 24 29 / 24%);
    color: #4e4a57;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin: auto 0 auto 6px;
    padding: 4px 12px;
}

dialog-toolbar > button.secondary {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: #ffffff;
    font-weight: normal;
}

dialog-toolbar > button.secondary:hover {
    text-decoration: underline;
}

dialog-title {
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
}

filter-button {
    position: relative;
}

filter-button > select {
    position: absolute;
    right: 0;
    top: 100%;
}

filter-button > select > option {
    color: #1a181d;
    font-size: 14px;
    padding: 4px 8px;
}

kanban-board {
    display: flex;
    flex: 1;
    overflow: auto;
}

kanban-board > lane {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    padding: 4px;
}

kanban-board > lane > * {
    border-radius: 1em;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    margin-bottom: .5em;
    max-width: 100%;
}

kanban-board > lane > add-lane-button, kanban-board > lane > add-task-button {
    background-color: #eee;
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .0125em;
    line-height: 2rem;
    overflow-wrap: break-word;
    padding: .35em;
    text-align: center;
    text-shadow: 2px 2px rgba(0 ,0 , 0, .4)
}

kanban-board > lane > lane-header {
    color: white;
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .0125em;
    line-height: 2rem;
    overflow-wrap: break-word;
    padding: .35em;
    text-align: center;
    text-shadow: 2px 2px rgba(0 ,0 , 0, .4)
}

p {
    margin: 0;
}

playerbar {
    align-items: flex-end;
    background: #36205d;
    display: flex;
    flex: 1;
    overflow: auto;
    padding: 8px;
}

player-widget {
    display: flex;
    margin-right: 12px;
    width: 300px;
}

player-widget avatar {
    background-color: #c7bcf3;
    border: 2px solid #9687db;
    cursor: pointer;
    height: 64px;
    image-rendering: pixelated;
    width: 64px;
}

player-widget avatar img {
    max-height: 100%;
    max-width: 100%;
}

player-widget playerinfo {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 12px;
}

player-widget playerinfo playername {
    color: white;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.71;
}

player-widget playerinfo playerdetails {
    display: flex;
}

player-widget playerinfo playerdetails playerlevel {
    color: #d5c8ff;
    flex: 1;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 6px;
}

player-widget playerinfo playerdetails playercoins {
    background: no-repeat left top;
    background-image: url(/images/coin.png);
    color: white;
    font-weight: bold;
    padding-left: 20px;
    text-align: right;
}

player-progressbar {
    display: flex;
}

player-progressbar > progressbar {
    background-color: #271b3d;
    flex: 1;
    height: 12px;
}

player-progressbar > progressbar > progressvalue {
    display: block;
    height: 100%;
}

player-progressbar[type=experience] > progressbar > progressvalue {
    background-color: #ffbe5d;
}

player-progressbar > progresstext {
    color: #d5c8ff;
    font-size: 12px;
    line-height: 1;
    margin-left: 8px;
    vertical-align: middle;
}

task {
    background: #ffbe5d;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(26 24 29 / 16%), 0 1px 4px 0 rgb(26 24 29 / 12%);
    display: flex;
    margin: 2px;
}

task.blau, select.blau, option.blau {
    background-color: #017aff;
}

task.gelb, select.gelb, option.gelb {
    background-color: #ffcc00;
}

task.grau, select.grau, option.grau {
    background-color: #8f8e93;
}

task.gruen, select.gruen, option.gruen {
    background-color: #4cda63;
}

task.hellblau, select.hellblau, option.hellblau {
    background-color: #5ac9fa;
}

task.lila, select.lila, option.lila {
    background-color: #b425d8;
}

task.orange, select.orange, option.orange {
    background-color: #ff9601;
}

task.rosa, select.rosa, option.rosa {
    background-color: #ff6684;
}

task.rot, select.rot, option.rot {
    background-color: #ff3b30;
}

task-checkbox {
    background-color: hsla(0,0%,100%,.5);
    border-radius: 2px;
    color: transparent;
    cursor: pointer;
    height: 28px;
    margin: 16px 6px;
    position: relative;
    width: 28px;
}

task-checkbox::before {
    content: "✓";
    display: block;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
}

task-checkbox:hover {
    background-color: hsla(0,0%,100%,.75);
    color: #794b00;
}

task-checklist {
    display: none;
    flex-direction: column;
    margin-top: 8px;
}

task-checklistitem {
    display: flex;
}

task-checklistitem input {
    cursor: pointer;
    height: 18px;
    margin: 3px 9px 3px 3px;
    position: relative;
    visibility: hidden;
    width: 18px;
}

task-checklistitem input::before {
    border: 2px solid #878190;
    border-radius: 2px;
    content: "";
    font-weight: bold;
    height: 14px;
    line-height: 16px;
    position: absolute;
    text-align: center;
    visibility: visible;
    width: 14px;
}

task-checklistitem input:checked::before {
    background-color: #925cf3;
    border-color: #925cf3;
    color: #ffffff;
    content: "✓";
}

task-checklistitem label {
    flex: 1;
    line-height: 24px;
    margin-bottom: 6px;
}

task-checklist-toggle {
    border: 1px solid transparent;
    border-radius: 1px;
    background-color: #edecee;
    color: #878190;
    cursor: pointer;
    font-size: 10px;
    line-height: 1.2;
    padding: 2px 6px;
    text-align: center;
}

task-checklist-toggle::after {
    border-bottom: 4px solid transparent;
    border-left: 4px solid;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 4px;
    width: 0;
}

task-content.visible task-checklist-toggle::after {
    border-bottom: 0;  
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
}

task-content {
    background-color: #ffffff;
    border-radius: 0 .9em .9em 0;
    flex: 1;
    padding: 7px 8px;
}

task-content.visible task-checklist {
    display: flex;
}

task-note {
    color: #686274;
    cursor: pointer;
    display: block;
    font-size: 12px;
    white-space: pre-wrap;
}

task-note * {
    margin: 0;
    white-space: initial;
}

task-note ol, task-note ul {
    padding-left: 16px;
}

task-title {
    color: #34313a;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin: 6px 15px 0 0;
    padding-bottom: 12px;
}

toolbar {
    align-items: flex-end;
    background: #36205d;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    padding: 8px;
}

toolbar button {
    background: #24cc8f;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgb(26 24 29 / 16%), 0 1px 4px 0 rgb(26 24 29 / 12%);
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    width: 40px;
}

toolbar button:hover {
    background: #32bd8a;
}

toolbar span {
    flex: auto;
}

topbar {
    display: flex;
}

@keyframes loadingspin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}
